@font-face {
  font-family: 'retrorific';
  src: url('./assets/fonts/Toriko.ttf');
}

@font-face {
  font-family: 'kenny';
  src: url('./assets/fonts/kenvector_future.ttf');
}

@font-face {
  font-family: 'kaph';
  src: url('./assets/fonts/Kaph-Regular.ttf');
}

@font-face {
  font-family: 'kaph-italics';
  src: url('./assets/fonts/Kaph-Italic.ttf');
}

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  /* papyrous */

  /* font-size: 16px; */
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 4em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* font-size: 2rem; */
}

:root {
  /* 260 px in rem units */
  --score-width: 16.25rem;
  --score-height: 13.125rem;
  /* --score-width: 260px;
  --score-height: 210px; */
}

#root {
  width: 100%;
}

body {
  background-color: #fdf0d5;
  color: #780000;
  font-family: 'kaph';
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  background-color: #669bbc;
  color: #fff;
  /* font-size: 1.5rem; */
  font-weight: 600 !important;
  letter-spacing: 4px;
  padding: 0.5rem 4rem;
}

nav > h1 {
  color: #780000;
  /* font-size: 2rem; */
}

.waiting {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input-form {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 100%;
}

.input-form > input {
  /* font-size: 1rem; */
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: none;
  /* border: none; */
  border: solid 1px #669bbc;
  /* margin-bottom: 1rem; */
}

label {
  margin-right: 1rem;
  /* font-size: 1.5rem; */
  font-weight: 600;
}
.btn-start {
  margin-top: 1rem;
  width: 100%;
  background-color: #1d3557;
  color: #ffffff;
  /* font-size: 1.3rem; */
  font-weight: 600;
  letter-spacing: 2px;
}
/* hover effect */

.btn-start:hover {
  background-color: #4d7d9e;
}

.game-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
}

.score-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: calc(var(--score-height) * 2);
  color: #000000;
  font-weight: 600 !important;
  margin-top: 3.5rem;
  margin-right: 3rem;
  width: 260px;
}

.player-score {
  position: absolute;
  width: var(--score-width);
  height: var(--score-height);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1rem;
  background-color: #669bbc;
}

.player-score:nth-child(2) {
  top: 49%;
}

.player-score > h2 {
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1rem;
}

.player-score.active {
  border: solid 2px #780000;
  z-index: 1000;
  box-shadow: 0 0 10px #780000;
}

.player-score .turn-indicator {
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.player-score.active {
  transition: box-shadow 1s;
  transition: border 1s;
}

@media screen and (max-width: 600px) {
  nav {
    padding: 0.5rem 1rem;
  }
  .title {
    font-weight: 600;
    letter-spacing: normal;
  }

  .playerNames {
    font-weight: 600;
    letter-spacing: normal;
    margin-right: 1rem;
  }

  .score-container {
    position: absolute;
    left: 0;
    display: block;
    width: 320px;
  }
  .player-score {
    height: fit-content;
    left: 20px;
    top: 154px !important;
    display: none;

    transition: display 1s;
    width: fit-content !important;
  }

  .player-score.active {
    display: block;
  }
  .turn-indicator {
    display: none;
  }

  .btn-start:hover {
    color: #0000 !important;
  }
}

.turn-indicator {
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
  animation: grow 1s ease-out infinite;
}

@keyframes grow {
  0% {
    font-size: 1rem;
  }
  50% {
    font-size: 1.05rem;
  }
  100% {
    font-size: 1rem;
  }
}

table tbody tr td {
  padding: 1rem;
  border: solid 1px #669bbc;
}

table {
  border: solid 1px #669bbc;
  background-color: #afea90;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.adminWrapper {
  font-family: 'kenny', Arial, serif !important;
  font-size: 1.3rem;
  overflow: scroll;
  max-height: 80vh;
  padding: 1rem 1rem;
}
